.heading{
    text-align: center;
    background-color: darkslateblue;
    padding: 16px;
    border-radius: 10px;
    color: white;
    margin-top: 26px;
    
}
a{
    text-decoration: none;
    color: lightseagreen;
    font-size: 33px;
    padding: 39px;
}
.center{
    text-align: center;
    width: 100vw;
}
.auto{
    margin-left: auto;
    margin-right: auto;
}
.set1{
    padding: 15px;
    background-color: lightgreen;
    border-radius: 6px;
    max-width: 600px;
    font-size: 20px;
    color: rgb(34, 7, 13);
}
.set2{
    padding: 15px;
    background-color: lightsalmon;
    border-radius: 6px;
    max-width: 600px;
    font-size: 20px;
    color: rgb(141, 11, 37);
}
.set3{
    padding: 15px;
    background-color: lightseagreen;
    border-radius: 6px;
    max-width: 600px;
    font-size: 20px;
    color: rgb(141, 11, 37);
}
.set4{
    padding: 15px;
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    max-width: 600px;
    font-size: 20px;
    color: rgb(141, 11, 37);
}
.set5{
    padding: 15px;
    background-color: lightslategray;
    border-radius: 6px;
    max-width: 600px;
    font-size: 20px;
    color: rgb(141, 11, 37);
}

table,td,th{
    border: 2px solid gray;
    border-collapse: collapse;
    padding:6px 36px;
    font-size: 20px;
}
th{
    font-weight: 700;
}

.animation{
    height: 60vh;
    width: 100wh;
    background-color: rgb(3, 1, 24);
}
.ani{
    font-size: 32px;
    color: white;
    text-align: center;
    border: 1px solid #dddd;
    padding: 10px;
}

div#circle{
    height: 200px;
    width: 200px;
    border: 3px solid limegreen;
    margin: 0 auto;
    margin-top: 66px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: circle 3s 0.1s infinite forwards;
    /* animation-direction: alternate; */
    /* animation-fill-mode: forwards; */
    /* animation-play-state: running; */
}

@keyframes circle{
    0%{
        border: 3px solid limegreen;
        transform: scale(1);
    }
    25%{
         border: 3px solid rgb(31, 136, 185);
         transform: scale(1.1);
    }
    50%{
         border: 8px solid rgb(27, 60, 206);
         transform: scale(1.3);
    }
    75%{
         border: 3px solid rgb(146, 205, 50);
         transform: scale(1.1);
    }
    100%{
         border: 3px solid rgb(205, 50, 50);
         transform: scale(1);
    }
}

div#square{
    width: 1px;
    height: 1px;
    border: 15px solid yellow;
    animation: square 2.2s ease-in-out infinite alternate-reverse;
}

@keyframes square{
    0%{
        transform: rotate(0deg);
         border-color: yellow;
         background-color: yellow;
    }
    25%{
         border-color: rgb(126, 226, 44);
         border-width: 10px;
         background-color: rgb(126, 226, 44);
    }
    50%{
         border-color: rgb(0, 255, 234);
         background-color: rgb(0, 255, 234);
          border-width: 20px;
    }
    75%{
         border-color: rgb(153, 0, 255);
         background-color: rgb(153, 0, 255);
          border-width: 40px;
    }
    100%{
        transform: rotate(360deg);
         border-color: rgb(255, 0, 106);
         background-color: rgb(255, 0, 106);
          border-width: 5px;
    }
}